{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title></title>
    </head>
    <body class="geography_background" id="quiz_info" data-quiz-type="geography_quiz/" data-current-page="{{ page_obj.number }}" data-total-quizes="{{ total_quizes }}">
        <nav class="navbar navbar-expand-lg geography-nav">
            <div class="navbar-brand" id="brand-name">Quizpedia</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link nav-color" href="{% url 'category'%}">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="alert_message"></div>
        {% if Geographyquizes %}
            {% for quiz in Geographyquizes %}
                <div class="num_of_quiz"> Total Quizes : {{ total_quizes }}</div>
                <div class="counting_quiz"> {{ page_obj.number }} / {{ total_quizes }}</div>
                <div id ='question' class="card text-light bg-success mb-1" style="max-width: 35rem;max-height: 15rem;">
                    <div class = 'card-header author-section'>
                        <div>
                            <a href="{{ quiz.author.profile.image.url }}"><img class="author-img rounded-circle" src = "{{ quiz.author.profile.image.url }}"></a>
                        </div>
                        <div>
                            <a href = "#" style = 'text-decoration: none;color: white;'><h5>{{ quiz.author }}</h5></a>
                        </div>
                    </div>
                    <div id ='q_body' class="card-body">
                        <p class="card-text">{{ quiz.question }}</p>
                    </div>
                </div>
                <div class="answers">
                    <button id="custom-button" class="btn btn-outline-light custom-button" onclick="check_ans('A','{{ quiz.correct_ans }}')" >A. {{ quiz.ans_A }}</button>
                    <button id="custom-button" class="btn btn-outline-light custom-button" onclick="check_ans('B','{{ quiz.correct_ans }}')" >B. {{ quiz.ans_B }}</button>
                </div>
                <div class="answers">
                    <button id="custom-button" class="btn btn-outline-light custom-button" onclick="check_ans('C','{{ quiz.correct_ans }}')" >C. {{ quiz.ans_C }}</button>
                    <button id="custom-button" class="btn btn-outline-light custom-button" onclick="check_ans('D','{{ quiz.correct_ans }}')" >D. {{ quiz.ans_D }}</button>
                </div>
                <div class="btn btn-outline-light" id="quit" onclick="quit()" >Quit</div>
            {% endfor %}
        {% else %}
            <div class="finished_page">
                <div class="finished">You have finished your quiz!</div>
                <div id="show-score"></div>
                <div class="btn btn-outline-light finished_link" onclick="finished()">Go back to category</div>
            </div>
        {% endif %}
    </body>
    <script src="{% static 'main.js' %}" ></script>
</html>